body{
    background-image: url('/assets/Ui/Login_background.png');
    height: 100vh;
    margin:0;
    display: flex;
    grid-template-columns: 100px auto;
    grid-template-areas: 'h h' 'n m' 'f f';
    grid-template-rows: 170px auto 70px;
    font-family: sans-serif;
    background-size: center;
  }

.image {
    display: flex;
    position: relative;
    top: 40px;
    left: 475px;
    width: 70%;
}

.input {
    display: flex;
    position: relative;
    top: 550px;
    right: 140px;
}