body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.btnEndMyTurn {
  top:350px;
  left:20px;
  position: absolute;
  padding: 5px 20px;
  margin:8px 70px;
}

.btnEndOpTurn {
  top:400px;
  left:20px;
  position: absolute;
  padding: 5px 20px;
  margin:8px 70px;
}

.btnExit {
  top:15px;
  left:800px;
  position: absolute;
  padding: 5px 20px;
  margin:8px 70px;
}

.btnResetHp {
  top:15px;
  left:900px;
  position: absolute;
  padding: 5px 20px;
  margin:8px 70px;
}

.btnReady {
  top:400px;
  left:600px;
  position: absolute;
  padding: 5px 20px;
  margin:8px 70px;
}

.center {
  top:5%;
  left:45%;
  position: absolute;
  width: 25%;
}

body{
  background-image: url('/assets/Ui/Game_background.png');
  height: 15vh;
  margin:0;
  display: flex;
  grid-template-columns: 100px auto;
  grid-template-areas: 'h h' 'n m' 'f f';
  grid-template-rows: 170px auto 70px
}

input { 
  text-align: center; 
}


